body {
  background-color: aliceblue;
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#canvas-container {
  background-color: #717171;
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas-container.dragover {
  background-color: gold;
}

canvas {
  position: absolute;
}

#clear-image-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

#source-canvas {
  z-index: 0;
}

#crop-canvas {
  z-index: 10;
}

#target-canvas {
  display: none;
}

#inputs-container {
  margin: 0.5rem;
}

#inputs-container > * {
  margin: 0.25rem;
}

a {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

a:hover {
  color: gold;
}
